<!Doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Willock</title>
    <link rel="stylesheet" type="text/css" href="static/css/personal_website.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126318329-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126318329-1');
    </script>
  </head>
  <body>
  
   <p>Welcome to Marcus Willock 30.04.1 LTS (GNU/Linux 4.15.0-34-generic x86_64)</p>
    
   <div class="links">
     <p>Below tells the story of an open source enthusiast who is passionate about development. Recently, I have focused on developing in Go, but I am well versed in Python as well and I am starting to really like JavaScript.</p>
   
     <pre>* Blog:       <a href="https://crazcalm.github.io/blog/">https://crazcalm.github.io/blog</a></pre>
     <pre>* Github:     <a href="https://github.com/crazcalm">https://github.com/crazcalm</a></pre>
     <pre>* Resume:     <a href="/static/files/resume.pdf">https://crazcalm.org/resume</a></pre>
    
     <p>* List of open source projects that I have contributed to:</p>
     <ul>
       <li><pre>- selenium (Go client)  --->  <a href="https://github.com/tebeka/selenium/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acrazcalm+">https://github.com/tebeka/selenium/pulls</a></pre></li>
       <li><pre>- Go                    --->  <a href="https://github.com/golang/go/pulls?utf8=%E2%9C%93&q=+is%3Apr+author%3Acrazcalm+">https://github.com/golang/go/pulls</a></pre></li>
       <li><pre>- go-csv-tag            --->  <a href="https://github.com/artonge/go-csv-tag/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acrazcalm+">https://github.com/artonge/go-csv-tag/pulls</a></pre></li>
       <li><pre>- qri                   --->  <a href="https://github.com/qri-io/qri/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acrazcalm+">https://github.com/qri-io/qri/pulls</a></pre></li>
       <li><pre>- awesome-go            --->  <a href="https://github.com/avelino/awesome-go/pulls?utf8=%E2%9C%93&q=+is%3Apr+author%3Acrazcalm+">https://github.com/avelino/awesome-go/pulls</a></pre></li>
       <li><pre>- code-buddies          --->  <a href="https://github.com/codebuddies/codebuddies/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acrazcalm+">https://github.com/codebuddies/codebuddies/pulls</a></pre></li>
       <li><pre>- pygotham              --->  <a href="https://github.com/PyGotham/pygotham/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Acrazcalm+">https://github.com/PyGotham/pygotham/pulls</a></pre></li>
     </ul>
     <p>* List of sites I created just for fun:</p>
     <ul>
      <li><pre>- Pokemon Card Search  --->  <a href="/pokemon">https://crazcalm.org/pokemon</a></pre></li>
     </ul>
     <p>* List of the Talks I have given:</p>
     <ul>
      <li><pre>Wrapping Go in Python                                 --->  <a href="https://www.youtube.com/watch?v=6v6OZXk2E_w">https://youtube.com/wrappingGoInPythonTalk</a></pre></li>
      <li><pre>Modify Golang's Default File Server to hide dotfiles  --->  <a href="https://github.com/golangnyc/meetups/blob/master/talks/serve_it.pdf">https://github.com/golangnyc/meetups/talks</a></pre></li>
     </ul>
    </div>
    <p>2 packages can be updated {Career & Goals}. </p>
  </body>
</html>
